/* @import './reset.css'; */
@import './animations.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #fe6c2d;
    --primary-muted: #ffb99a;
    --primary-bright: #fe5308;
    --primary-dark: #e34300;

    --secondary: #29a0d8;
    --accent: #048a81;

    /* --logo-accent: #00a6ed; */
    --logo-accent: #57b8ff;
    /* --logo-accent: #2176ae; */

    --white: #f0f0f0;
    --muted-white: #f1f1f1;
    --bright-white: #ffffff;
    --black: #1c1c1c;
    --muted-black: #333333;

    --foreground: #e7e3e3;

    --ghost-bg: transparent;
    --ghost-text: black;

    --border-radius: 8px;
    --max-width: 1600px;

    --nav-bg: #f8f1eb;
    --nav-txt: #5e6472;
    --hero-bg: #a8b5a2;
    --headline-txt: #f8f1eb;
    --sub-h-txt: #d4a373;

    --font-rubik: ${rubik.style.fontFamily};
    --font-merriweather: ${merriweather.style.fontFamily};
    --font-bodoni: ${bodoni.style.fontFamily};
    --font-permanentMarker: ${permanentMarker.style.fontFamily};
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    color: hsl(var(--black));
    font-family: 'Rubik', sans-serif;
    background-color: var(--bright-white);
    min-height: calc(100dvh - 5.8rem);
    line-height: 1.1;
}

h1,
h2,
h3,
h4 {
    font-family: 'Merriweather', serif;
}

main {
    flex: 1;
    font-family: 'Rubik', sans-serif;
    position: relative;

    @media screen and (max-width: 600px) {
        margin-top: 5.8rem;
    }
}

.roundButton {
    height: 8rem;
    width: 8rem !important;
    border-radius: 150px;
    background: var(--primary);
    border: 7px solid var(--primary);
    box-shadow:
        0px 3px 8px var(--primary-muted),
        inset 0px 4px 15px var(--primary-muted);
    transition: 0.35s ease-in-out;

    @media only screen and (max-width: 600px) {
        height: 6rem;
        width: 6rem !important;
    }
}

.roundAltButton {
    height: 8rem;
    width: 8rem !important;
    border-radius: 150px;
    background: var(--secondary);
    border: 7px solid var(--secondary);
    box-shadow:
        0px 3px 8px var(--secondary),
        inset 0px 4px 15px lightblue;
    color: var(--white);
    transition: 0.35s ease-in-out;
    &:hover {
        color: var(--secondary) !important;
        background-color: var(--white) !important;
    }

    @media only screen and (max-width: 600px) {
        height: 6rem;
        width: 6rem !important;
    }
}

.floating {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 25;

    > button {
        transform: scale(0.75);
    }
    & > :hover {
        transform: scale(1);
    }
}

.logo {
    font-family: var(--font-logo);
}
.button-ghost {
    background-color: transparent !important;
    color: var(--ghost-bg) !important;
    border: 2px solid var(--ghost-bg) !important;
    transition: all 0.2s ease-in-out;
}

.button-ghost:hover {
    background-color: var(--ghost-bg) !important;
    color: var(--ghost-text) !important;
    border-color: var(--ghost-bg) !important;
}

.faqEmbed {
    color: blue;
    text-decoration: underline;
}

@layer base {
    * {
        @apply border-border outline-ring text-base;
    }
    body {
        font-family: var(--font-rubik), sans-serif;
        @apply bg-white text-black;
    }

    h1 {
        @apply mb-4 text-3xl font-bold text-primary;
    }

    h2 {
        @apply mb-3 text-2xl font-bold text-primary;
    }

    h3 {
        @apply mb-1 text-xl font-semibold text-primary;
    }

    h4 {
        @apply text-base font-bold text-primary;
    }

    h1,
    h2,
    h3,
    h4 {
        font-family: var(--font-merriweather), serif;
    }

    .gradient-down {
        @apply bg-gradient-to-b from-secondary to-white;
    }

    .gradient-up {
        @apply bg-gradient-to-t from-secondary to-white;
    }

    .nav-link {
        @apply text-primary font-bold font-body transition-colors text-xl;
    }
    .nav-link:hover {
        @apply hovered-nav-link; /* => color: hsl(var(--secondary)); */
    }
    .nav-link.active {
        /* text color and border using your secondary color */
        @apply selected-nav-link border-b-2 border-secondary;
    }

    .prio {
        @apply text-primary font-semibold;
    }

    .caring {
        font-family: var(--font-rubik), sans-serif !important;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .selected-nav-link {
        color: var(--primary);
    }
    .hovered-nav-link {
        color: var(--primary);
    }

    .page-wrapper {
        @apply max-w-custom mx-auto px-6 pt-2 pb-4;
    }

    .font-body {
        font-family: var(--font-rubik), sans-serif;
    }

    .font-headers {
        font-family: var(--font-merriweather), serif;
    }

    .font-logo {
        font-family: var(--font-bodoni), serif;
    }
}

@layer components {
    .nav-link {
        @apply relative text-muted transition-colors;
    }

    .nav-link::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -2px;
        width: 0;
        height: 2px;
        background-color: var(--primary);
        transition:
            width 0.3s ease,
            left 0.3s ease;
    }

    .nav-link:hover::after,
    .nav-link.active::after {
        width: 100%;
        left: 0;
    }

    .nav-link.active {
        @apply font-bold text-primary;
    }
}

@layer base {
    * {
        @apply border-border outline-ring;
    }
    body {
        @apply bg-background text-foreground;
    }
}
