/* @import './reset.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #fe6c2d;
    --primary-muted: #ffb99a;
    --primary-bright: #fe5308;
    --primary-dark: #e34300;

    --secondary: #048a81;
    --accent: #003256;
    /* --secondary: #003256;
    --accent: #048a81; */

    --white: #f0f0f0;
    --muted-white: #f1f1f1;
    --bright-white: #ffffff;
    --black: #1c1c1c;
    --muted-black: #333333;

    --foreground: #e7e3e3;

    --ghost-bg: transparent;
    --ghost-text: black;

    --font-symbola: 'SymbolaRegular';

    --font-logo: var(--font-symbola);

    --border-radius: 8px;
    --max-width: 1400px;

    --nav-bg: #f8f1eb;
    --nav-txt: #5e6472;
    --hero-bg: #a8b5a2;
    --headline-txt: #f8f1eb;
    --sub-h-txt: #d4a373;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    color: hsl(var(--black));
    font-family: 'Rubik', sans-serif;
    background-color: hsl(var(--bright-white)) !important;
    min-height: calc(100dvh - 4.8rem);
}

h1,
h2,
h3,
h4 {
    font-family: 'Merriweather', serif;
}

main {
    flex: 1;
    font-family: 'Rubik', sans-serif;
    margin-top: 4.8rem;
}

.logo {
    font-family: var(--font-logo);
}

.button-ghost {
    background-color: transparent !important;
    color: var(--ghost-bg) !important;
    border: 2px solid var(--ghost-bg) !important;
    transition: all 0.2s ease-in-out;
}

.button-ghost:hover {
    background-color: var(--ghost-bg) !important;
    color: var(--ghost-text) !important;
    border-color: var(--ghost-bg) !important;
}

.faqEmbed {
    color: blue;
    text-decoration: underline;
}

@layer base {
    * {
        @apply border-border outline-ring text-base;
    }
    body {
        @apply bg-white text-black;
    }

    h1 {
        @apply mb-4 text-4xl font-bold text-primary-dark;
    }

    h2 {
        @apply mb-3 text-2xl font-bold text-primary-dark;
    }

    h3 {
        @apply mb-1 text-xl font-semibold text-primary-dark;
    }

    h4 {
        @apply text-base font-bold text-primary-dark;
    }

    .gradient-down {
        @apply bg-gradient-to-b from-secondary to-white;
    }

    .gradient-up {
        @apply bg-gradient-to-t from-secondary to-white;
    }

    .nav-link {
        @apply text-primary font-bold transition-colors;
    }
    .nav-link:hover {
        @apply hovered-nav-link; /* => color: hsl(var(--secondary)); */
    }
    .nav-link.active {
        /* text color and border using your secondary color */
        @apply selected-nav-link border-b-2 border-secondary;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .selected-nav-link {
        color: var(--primary);
    }
    .hovered-nav-link {
        color: var(--primary);
    }

    .page-wrapper {
        @apply max-w-custom mx-auto px-6 pt-2 pb-4;
    }
}

@layer components {
    .nav-link {
        @apply relative text-muted transition-colors;
    }

    .nav-link::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -2px;
        width: 0;
        height: 2px;
        background-color: var(--primary);
        transition:
            width 0.3s ease,
            left 0.3s ease;
    }

    .nav-link:hover::after,
    .nav-link.active::after {
        width: 100%;
        left: 0;
    }

    .nav-link.active {
        @apply font-bold text-primary;
    }
}

@layer base {
    * {
        @apply border-border outline-ring;
    }
    body {
        @apply bg-background text-foreground;
    }
}
